<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
                <property name="url" value="jdbc:sqlserver://120.24.254.101:1433; DatabaseName=Build4D" />
                <property name="username" value="sa" />
                <property name="password" value="zhenx#88DATA" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatismappers/OrganMapper.xml" />
    </mappers>
</configuration>