#app{
    /*padding: 32px;*/
}
.layout{
    border: 0px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow:auto;
}
.layout-logo{
    width: 210px;
    height: 40px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 10px;
    left: 10px;
    color:#ffffff;
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
}
.layout-nav{
    width: 1100px;
    margin: 0 auto;
    margin-right: 0px;
}

.card-title-include-button{

}

.card-title-include-button .ivu-card-head{
    padding: 9px;
}

.page2c{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.page2c .c1{
    float: left;
    height: 100%;
    background-color: #ffffff;
}

.page2c .c2{
    float: right;
    height: 100%;
    background-color: #ffffff;
}