<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.build4d.project.dbaccess.dao.ProAdvisoryReplyMapper">
  <resultMap id="BaseResultMap" type="com.build4d.project.dbaccess.dbentities.ProAdvisoryReplyEntity">
    <constructor>
      <idArg column="REPLY_SID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="REPLY_CONTENT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ADV_SID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="USER_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="USER_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ORGAN_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ORGAN_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATETIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    REPLY_SID, REPLY_CONTENT, ADV_SID, USER_ID, USER_NAME, ORGAN_ID, ORGAN_NAME, CREATETIME, 
    STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from iams_pro_advisory_reply
    where REPLY_SID = #{replySid,jdbcType=VARCHAR}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from iams_pro_advisory_reply
    where REPLY_SID = #{replySid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.build4d.project.dbaccess.dbentities.ProAdvisoryReplyEntity">
    insert into iams_pro_advisory_reply (REPLY_SID, REPLY_CONTENT, ADV_SID, 
      USER_ID, USER_NAME, ORGAN_ID, 
      ORGAN_NAME, CREATETIME, STATUS
      )
    values (#{replySid,jdbcType=VARCHAR}, #{replyContent,jdbcType=VARCHAR}, #{advSid,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{organId,jdbcType=VARCHAR}, 
      #{organName,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.build4d.project.dbaccess.dbentities.ProAdvisoryReplyEntity">
    insert into iams_pro_advisory_reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="replySid != null">
        REPLY_SID,
      </if>
      <if test="replyContent != null">
        REPLY_CONTENT,
      </if>
      <if test="advSid != null">
        ADV_SID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="organId != null">
        ORGAN_ID,
      </if>
      <if test="organName != null">
        ORGAN_NAME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="replySid != null">
        #{replySid,jdbcType=VARCHAR},
      </if>
      <if test="replyContent != null">
        #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="advSid != null">
        #{advSid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        #{organId,jdbcType=VARCHAR},
      </if>
      <if test="organName != null">
        #{organName,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.build4d.project.dbaccess.dbentities.ProAdvisoryReplyEntity">
    update iams_pro_advisory_reply
    <set>
      <if test="replyContent != null">
        REPLY_CONTENT = #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="advSid != null">
        ADV_SID = #{advSid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="organId != null">
        ORGAN_ID = #{organId,jdbcType=VARCHAR},
      </if>
      <if test="organName != null">
        ORGAN_NAME = #{organName,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where REPLY_SID = #{replySid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.build4d.project.dbaccess.dbentities.ProAdvisoryReplyEntity">
    update iams_pro_advisory_reply
    set REPLY_CONTENT = #{replyContent,jdbcType=VARCHAR},
      ADV_SID = #{advSid,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      ORGAN_ID = #{organId,jdbcType=VARCHAR},
      ORGAN_NAME = #{organName,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR}
    where REPLY_SID = #{replySid,jdbcType=VARCHAR}
  </update>


  <select id="selectByAdvisoryId"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from iams_pro_advisory_reply
    where ADV_SID = #{advisoryId,jdbcType=VARCHAR} ORDER BY CREATETIME asc
  </select>
</mapper>